#grad {
  height: 7px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-image: linear-gradient(90deg, black, #b6a7a7);
  z-index: -1;
}

#back {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #fcfcfc;
  z-index: -2;
}

#page-header {
  width: 400px;
  margin: 75px auto;
  margin-bottom: 60px;
  text-align: center;
}

#page-body {
  max-width: 850px;
  margin: 0 auto;
}

h1 {
  font-size: 28pt;
  font-family: 'Roboto Medium';
}

ul li {
  font-size: 17pt;
  font-family: 'Roboto Slab';
}

h2 {
  margin-bottom: 5px;
  font-family: 'Roboto';
}

p,
li {
  font-size: 14pt;
  font-family: 'Roboto';
}

#page-header li a {
  color: black;
}

#page-body li a {
  font-size: 16pt;
  color: #0275d8;
}

p a {
  color: #0275d8;
  text-decoration: none;
}

#page-body ul {
  list-style-position: inside;
}
