#grad {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-image: linear-gradient(135deg, black, #716a6a);
  z-index: -1;
}

#text-container {
  color: white;
  position: fixed;
  max-width: 100%;
  top: 55%;
  left: 8%;
}

h1 {
  font-size: 50pt;
  font-family: 'Roboto Bold';
}

li {
  font-size: 18pt;
  font-family: 'Roboto Slab';
}

li a {
  color: white;
}
